<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuite name="Escola LMS Auth">
        <directory suffix="Test.php">./tests</directory>
    </testsuite>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="postgres"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="test"/>
        <env name="DB_USERNAME" value="postgres"/>
        <env name="DB_PASSWORD" value="postgres"/>
    </php>
</phpunit>
